:root {
  --guyn-gray-dark: #3d4348;

  --guyn-gray: #5c6368;

  --guyn-gray-light: #8c9398;

  --guyn-ice-dark: #a6b3bd;

  --guyn-ice: #bec8d0;

  --guyn-ice-light: #dde5eb;

  --guyn-dark-dark: #1c011b;

  --guyn-dark: #2e192d;

  --guyn-dark-light: #664e66;

  --guyn-plum-dark: #550764;

  --guyn-plum: #390344;

  --guyn-plum-light: #550764;

  --guyn-purple-dark: #9710b2;

  --guyn-purple: #b223cf;

  --guyn-purple-light: #770d8d;

  --guyn-magenta-dark: #cb0c7a;

  --guyn-magenta: #e22d95;

  --guyn-magenta-light: #ee63b3;

  --guyn-pink-dark: #da4c7e;

  --guyn-pink: #e9709b;

  --guyn-pink-light: #fe95ba;

  --guyn-red-dark: #bf1a43;

  --guyn-red: #ef194f;

  --guyn-red-light: #fe688e;

  --guyn-orange-dark: #ff9e2e;

  --guyn-orange: #ffae41;

  --guyn-orange-light: #ffcd61;

  --guyn-yellow-dark: #ffc624;

  --guyn-yellow: #ffd764;

  --guyn-yellow-light: #ffedad;

  --guyn-lime-dark: #98f42d;

  --guyn-lime: #98f42d;

  --guyn-lime-light: #b1ff57;

  --guyn-green-dark: #7cda0f;

  --guyn-green: #6ab933;

  --guyn-green-light: #8ae24c;

  --guyn-army-dark: #678752;

  --guyn-army: #89a974;

  --guyn-army-light: #b8d3a5;

  --guyn-turqouise-dark: #46c162;

  --guyn-turqouise: #62f689;

  --guyn-turqouise-light: #93ffb6;

  --guyn-cyan-dark: #21c9b3;

  --guyn-cyan: #18ecd0;

  --guyn-cyan-light: #53fce6;

  --guyn-cloud-dark: #82dfff;

  --guyn-cloud: #aae9ff;

  --guyn-cloud-light: #cef2ff;

  --guyn-skyblue-dark: #25a7e2;

  --guyn-skyblue: #49bdf2;

  --guyn-skyblue-light: #65ccfa;

  --guyn-blue-dark: #0c4d99;

  --guyn-blue: #2e71be;

  --guyn-blue-light: #518cd0;

  --guyn-brown-dark: #9d5e27;

  --guyn-brown: #b97b45;

  --guyn-brown-light: #c69f7d;

  --guyn-beige-dark: #eedeb8;

  --guyn-beige: #f8ecd1;

  --guyn-beige-light: #fff9eb;

  --guyn-white: #ffffff;

  --guyn-black: #111111;
}
