:root {
  --guyn-black: #1c011b;

  --guyn-dark: #2e192d;

  --guyn-light-dark: #664e66;

  --guyn-roze: #e9709b;

  --guyn-red: #ef194f;

  --guyn-orange: #ffae41;

  --guyn-yellow: #ffd764;

  --guyn-green: #62f689;

  --guyn-turquoise: #18ecd0;

  --guyn-skyblue: #49bdf2;

  --guyn-blue: #2e71be;

  --guyn-brown: #b97b45;
}
