:root {
  --guyn-black: #1c011b;

  --guyn-dark: #2e192d;

  --guyn-light-dark: #664e66;

  --guyn-dark-roze: #;

  --guyn-roze: #e9709b;

  --guyn-light-roze: #;

  --guyn-dark-red: #;

  --guyn-red: #ef194f;

  --guyn-light-red: #;

  --guyn-dark-orange: #;

  --guyn-orange: #ffae41;

  --guyn-light-orange: #;

  --guyn-dark-yellow: #;

  --guyn-yellow: #ffd764;

  --guyn-light-yellow: #;

  --guyn-dark-green: #;

  --guyn-green: #62f689;

  --guyn-light-green: #;

  --guyn-dark-turquoise: #;

  --guyn-turquoise: #18ecd0;

  --guyn-light-turquoise: #;

  --guyn-dark-skyblue: #;

  --guyn-skyblue: #49bdf2;

  --guyn-light-skyblue: #;

  --guyn-dark-blue: #;

  --guyn-blue: #2e71be;

  --guyn-light-blue: #;

  --guyn-dark-brown: #;

  --guyn-brown: #b97b45;

  --guyn-light-brown: #;
}
