$guyn-colors: (
  "GrayDark": #3d4348,
  "Gray": #5c6368,
  "GrayLight": #8c9398,
  "IceDark": #a6b3bd,
  "Ice": #bec8d0,
  "IceLight": #dde5eb,
  "DarkDark": #1c011b,
  "Dark": #2e192d,
  "DarkLight": #664e66,
  "PlumDark": #390344,
  "Plum": #550764,
  "PlumLight": #550764,
  "PurpleDark": #9710b2,
  "Purple": #b223cf,
  "PurpleLight": #770d8d,
  "MagentaDark": #cb0c7a,
  "Magenta": #e22d95,
  "MagentaLight": #ee63b3,
  "PinkDark": #da4c7e,
  "Pink": #e9709b,
  "PinkLight": #fe95ba,
  "RedDark": #bf1a43,
  "Red": #ef194f,
  "RedLight": #fe688e,
  "OrangeDark": #ff9e2e,
  "Orange": #ffae41,
  "OrangeLight": #ffcd61,
  "YellowDark": #ffc624,
  "Yellow": #ffd764,
  "YellowLight": #ffedad,
  "LimeDark": #98f42d,
  "Lime": #98f42d,
  "LimeLight": #b1ff57,
  "GreenDark": #7cda0f,
  "Green": #6ab933,
  "GreenLight": #8ae24c,
  "ArmyDark": #678752,
  "Army": #89a974,
  "ArmyLight": #b8d3a5,
  "TurquoiseDark": #46c162,
  "Turquoise": #62f689,
  "TurquoiseLight": #93ffb6,
  "CyanDark": #21c9b3,
  "Cyan": #18ecd0,
  "CyanLight": #53fce6,
  "CloudDark": #82dfff,
  "Cloud": #aae9ff,
  "CloudLight": #cef2ff,
  "SkyblueDark": #25a7e2,
  "Skyblue": #49bdf2,
  "SkyblueLight": #65ccfa,
  "BlueDark": #0c4d99,
  "Blue": #2e71be,
  "BlueLight": #518cd0,
  "BrownDark": #9d5e27,
  "Brown": #b97b45,
  "BrownLight": #c69f7d,
  "BeigeDark": #eedeb8,
  "Beige": #f8ecd1,
  "BeigeLight": #fff9eb,
  "White": #ffffff,
  "Black": #111111
);

$guyn-GrayDark: #3d4348;
$guyn-gray-dark: #3d4348;

$guyn-Gray: #5c6368;
$guyn-gray: #5c6368;

$guyn-GrayLight: #8c9398;
$guyn-gray-light: #8c9398;

$guyn-IceDark: #a6b3bd;
$guyn-ice-dark: #a6b3bd;

$guyn-Ice: #bec8d0;
$guyn-ice: #bec8d0;

$guyn-IceLight: #dde5eb;
$guyn-ice-light: #dde5eb;

$guyn-DarkDark: #1c011b;
$guyn-dark-dark: #1c011b;

$guyn-Dark: #2e192d;
$guyn-dark: #2e192d;

$guyn-DarkLight: #664e66;
$guyn-dark-light: #664e66;

$guyn-PlumDark: #390344;
$guyn-plum-dark: #390344;

$guyn-Plum: #550764;
$guyn-plum: #550764;

$guyn-PlumLight: #550764;
$guyn-plum-light: #550764;

$guyn-PurpleDark: #9710b2;
$guyn-purple-dark: #9710b2;

$guyn-Purple: #b223cf;
$guyn-purple: #b223cf;

$guyn-PurpleLight: #770d8d;
$guyn-purple-light: #770d8d;

$guyn-MagentaDark: #cb0c7a;
$guyn-magenta-dark: #cb0c7a;

$guyn-Magenta: #e22d95;
$guyn-magenta: #e22d95;

$guyn-MagentaLight: #ee63b3;
$guyn-magenta-light: #ee63b3;

$guyn-PinkDark: #da4c7e;
$guyn-pink-dark: #da4c7e;

$guyn-Pink: #e9709b;
$guyn-pink: #e9709b;

$guyn-PinkLight: #fe95ba;
$guyn-pink-light: #fe95ba;

$guyn-RedDark: #bf1a43;
$guyn-red-dark: #bf1a43;

$guyn-Red: #ef194f;
$guyn-red: #ef194f;

$guyn-RedLight: #fe688e;
$guyn-red-light: #fe688e;

$guyn-OrangeDark: #ff9e2e;
$guyn-orange-dark: #ff9e2e;

$guyn-Orange: #ffae41;
$guyn-orange: #ffae41;

$guyn-OrangeLight: #ffcd61;
$guyn-orange-light: #ffcd61;

$guyn-YellowDark: #ffc624;
$guyn-yellow-dark: #ffc624;

$guyn-Yellow: #ffd764;
$guyn-yellow: #ffd764;

$guyn-YellowLight: #ffedad;
$guyn-yellow-light: #ffedad;

$guyn-LimeDark: #98f42d;
$guyn-lime-dark: #98f42d;

$guyn-Lime: #98f42d;
$guyn-lime: #98f42d;

$guyn-LimeLight: #b1ff57;
$guyn-lime-light: #b1ff57;

$guyn-GreenDark: #7cda0f;
$guyn-green-dark: #7cda0f;

$guyn-Green: #6ab933;
$guyn-green: #6ab933;

$guyn-GreenLight: #8ae24c;
$guyn-green-light: #8ae24c;

$guyn-ArmyDark: #678752;
$guyn-army-dark: #678752;

$guyn-Army: #89a974;
$guyn-army: #89a974;

$guyn-ArmyLight: #b8d3a5;
$guyn-army-light: #b8d3a5;

$guyn-TurquoiseDark: #46c162;
$guyn-turquoise-dark: #46c162;

$guyn-Turquoise: #62f689;
$guyn-turquoise: #62f689;

$guyn-TurquoiseLight: #93ffb6;
$guyn-turquoise-light: #93ffb6;

$guyn-CyanDark: #21c9b3;
$guyn-cyan-dark: #21c9b3;

$guyn-Cyan: #18ecd0;
$guyn-cyan: #18ecd0;

$guyn-CyanLight: #53fce6;
$guyn-cyan-light: #53fce6;

$guyn-CloudDark: #82dfff;
$guyn-cloud-dark: #82dfff;

$guyn-Cloud: #aae9ff;
$guyn-cloud: #aae9ff;

$guyn-CloudLight: #cef2ff;
$guyn-cloud-light: #cef2ff;

$guyn-SkyblueDark: #25a7e2;
$guyn-skyblue-dark: #25a7e2;

$guyn-Skyblue: #49bdf2;
$guyn-skyblue: #49bdf2;

$guyn-SkyblueLight: #65ccfa;
$guyn-skyblue-light: #65ccfa;

$guyn-BlueDark: #0c4d99;
$guyn-blue-dark: #0c4d99;

$guyn-Blue: #2e71be;
$guyn-blue: #2e71be;

$guyn-BlueLight: #518cd0;
$guyn-blue-light: #518cd0;

$guyn-BrownDark: #9d5e27;
$guyn-brown-dark: #9d5e27;

$guyn-Brown: #b97b45;
$guyn-brown: #b97b45;

$guyn-BrownLight: #c69f7d;
$guyn-brown-light: #c69f7d;

$guyn-BeigeDark: #eedeb8;
$guyn-beige-dark: #eedeb8;

$guyn-Beige: #f8ecd1;
$guyn-beige: #f8ecd1;

$guyn-BeigeLight: #fff9eb;
$guyn-beige-light: #fff9eb;

$guyn-White: #ffffff;
$guyn-white: #ffffff;

$guyn-Black: #111111;
$guyn-black: #111111;
