.guyn-colors() {
  black: #1c011b;

  dark: #2e192d;

  light-dark: #664e66;

  dark-roze: #;

  roze: #e9709b;

  light-roze: #;

  dark-red: #;

  red: #ef194f;

  light-red: #;

  dark-orange: #;

  orange: #ffae41;

  light-orange: #;

  dark-yellow: #;

  yellow: #ffd764;

  light-yellow: #;

  dark-green: #;

  green: #62f689;

  light-green: #;

  dark-turquoise: #;

  turquoise: #18ecd0;

  light-turquoise: #;

  dark-skyblue: #;

  skyblue: #49bdf2;

  light-skyblue: #;

  dark-blue: #;

  blue: #2e71be;

  light-blue: #;

  dark-brown: #;

  brown: #b97b45;

  light-brown: #;
}
