.guyn-colors() {
  graydark: #3d4348;

  gray: #5c6368;

  graylight: #8c9398;

  darkdark: #1c011b;

  dark: #2e192d;

  darklight: #664e66;

  purpledark: #9710b2;

  purple: #b223cf;

  purplelight: #d046eb;

  rozedark: #da4c7e;

  roze: #e9709b;

  rozelight: #fe95ba;

  reddark: #bf1a43;

  red: #ef194f;

  redlight: #fe688e;

  orangedark: #ff9e2e;

  orange: #ffae41;

  orangelight: #ffcd61;

  yellowdark: #ffc624;

  yellow: #ffd764;

  yellowlight: #ffedad;

  armydark: #678752;

  army: #89a974;

  armylight: #b8d3a5;

  greendark: #46c162;

  green: #62f689;

  greenlight: #93ffb6;

  turquoisedark: #21c9b3;

  turquoise: #18ecd0;

  turquoiselight: #53fce6;

  skybluedark: #25a7e2;

  skyblue: #49bdf2;

  skybluelight: #65ccfa;

  bluedark: #0c4d99;

  blue: #2e71be;

  bluelight: #518cd0;

  browndark: #9d5e27;

  brown: #b97b45;

  brownlight: #c69f7d;

  beigedark: #eedeb8;

  beige: #f8ecd1;

  beigelight: #fff9eb;
}

@guyn-GrayDark: #3d4348;
@guyn-gray-dark: #3d4348;

@guyn-Gray: #5c6368;
@guyn-gray: #5c6368;

@guyn-GrayLight: #8c9398;
@guyn-gray-light: #8c9398;

@guyn-DarkDark: #1c011b;
@guyn-dark-dark: #1c011b;

@guyn-Dark: #2e192d;
@guyn-dark: #2e192d;

@guyn-DarkLight: #664e66;
@guyn-dark-light: #664e66;

@guyn-PurpleDark: #9710b2;
@guyn-purple-dark: #9710b2;

@guyn-Purple: #b223cf;
@guyn-purple: #b223cf;

@guyn-PurpleLight: #d046eb;
@guyn-purple-light: #d046eb;

@guyn-RozeDark: #da4c7e;
@guyn-roze-dark: #da4c7e;

@guyn-Roze: #e9709b;
@guyn-roze: #e9709b;

@guyn-RozeLight: #fe95ba;
@guyn-roze-light: #fe95ba;

@guyn-RedDark: #bf1a43;
@guyn-red-dark: #bf1a43;

@guyn-Red: #ef194f;
@guyn-red: #ef194f;

@guyn-RedLight: #fe688e;
@guyn-red-light: #fe688e;

@guyn-OrangeDark: #ff9e2e;
@guyn-orange-dark: #ff9e2e;

@guyn-Orange: #ffae41;
@guyn-orange: #ffae41;

@guyn-OrangeLight: #ffcd61;
@guyn-orange-light: #ffcd61;

@guyn-YellowDark: #ffc624;
@guyn-yellow-dark: #ffc624;

@guyn-Yellow: #ffd764;
@guyn-yellow: #ffd764;

@guyn-YellowLight: #ffedad;
@guyn-yellow-light: #ffedad;

@guyn-ArmyDark: #678752;
@guyn-army-dark: #678752;

@guyn-Army: #89a974;
@guyn-army: #89a974;

@guyn-ArmyLight: #b8d3a5;
@guyn-army-light: #b8d3a5;

@guyn-GreenDark: #46c162;
@guyn-green-dark: #46c162;

@guyn-Green: #62f689;
@guyn-green: #62f689;

@guyn-GreenLight: #93ffb6;
@guyn-green-light: #93ffb6;

@guyn-TurquoiseDark: #21c9b3;
@guyn-turquoise-dark: #21c9b3;

@guyn-Turquoise: #18ecd0;
@guyn-turquoise: #18ecd0;

@guyn-TurquoiseLight: #53fce6;
@guyn-turquoise-light: #53fce6;

@guyn-SkyblueDark: #25a7e2;
@guyn-skyblue-dark: #25a7e2;

@guyn-Skyblue: #49bdf2;
@guyn-skyblue: #49bdf2;

@guyn-SkyblueLight: #65ccfa;
@guyn-skyblue-light: #65ccfa;

@guyn-BlueDark: #0c4d99;
@guyn-blue-dark: #0c4d99;

@guyn-Blue: #2e71be;
@guyn-blue: #2e71be;

@guyn-BlueLight: #518cd0;
@guyn-blue-light: #518cd0;

@guyn-BrownDark: #9d5e27;
@guyn-brown-dark: #9d5e27;

@guyn-Brown: #b97b45;
@guyn-brown: #b97b45;

@guyn-BrownLight: #c69f7d;
@guyn-brown-light: #c69f7d;

@guyn-BeigeDark: #eedeb8;
@guyn-beige-dark: #eedeb8;

@guyn-Beige: #f8ecd1;
@guyn-beige: #f8ecd1;

@guyn-BeigeLight: #fff9eb;
@guyn-beige-light: #fff9eb;
