$guyn-colors: (
  "Aliceblue": #f0f8ff,
  "Antiquewhite": #faebd7,
  "Aqua": #00ffff,
  "Aquamarine": #7fffd4,
  "Azure": #f0ffff,
  "Beige": #f5f5dc,
  "Bisque": #ffe4c4,
  "Black": #000000,
  "Blanchedalmond": #ffebcd,
  "Blue": #0000ff,
  "Blueviolet": #8a2be2,
  "Brown": #a52a2a,
  "Burlywood": #deb887,
  "Cadetblue": #5f9ea0,
  "Chartreuse": #7fff00,
  "Chocolate": #d2691e,
  "Coral": #ff7f50,
  "Cornflowerblue": #6495ed,
  "Cornsilk": #fff8dc,
  "Crimson": #dc143c,
  "Cyan": #00ffff,
  "Darkblue": #00008b,
  "Darkcyan": #008b8b,
  "Darkgoldenrod": #b8860b,
  "Darkgray": #a9a9a9,
  "Darkgreen": #006400,
  "Darkkhaki": #bdb76b,
  "Darkmagenta": #8b008b,
  "Darkolivegreen": #556b2f,
  "Darkorange": #ff8c00,
  "Darkorchid": #9932cc,
  "Darkred": #8b0000,
  "Darksalmon": #e9967a,
  "Darkseagreen": #8fbc8f,
  "Darkslateblue": #483d8b,
  "Darkslategray": #2f4f4f,
  "Darkturquoise": #00ced1,
  "Darkviolet": #9400d3,
  "Deeppink": #ff1493,
  "Deepskyblue": #00bfff,
  "Dimgray": #696969,
  "Dodgerblue": #1e90ff,
  "Firebrick": #b22222,
  "Floralwhite": #fffaf0,
  "Forestgreen": #228b22,
  "Fuchsia": #ff00ff,
  "Gainsboro": #dcdcdc,
  "Ghostwhite": #f8f8ff,
  "Gold": #ffd700,
  "Goldenrod": #daa520,
  "Gray": #808080,
  "Green": #008000,
  "Greenyellow": #adff2f,
  "Honeydew": #f0fff0,
  "Hotpink": #ff69b4,
  "Indianred": #cd5c5c,
  "Indigo": #4b0082,
  "Ivory": #fffff0,
  "Khaki": #f0e68c,
  "Lavender": #e6e6fa,
  "Lavenderblush": #fff0f5,
  "Lawngreen": #7cfc00,
  "Lemonchiffon": #fffacd,
  "Lightblue": #add8e6,
  "Lightcoral": #f08080,
  "Lightcyan": #e0ffff,
  "Lightgoldenrodyellow": #fafad2,
  "Lightgrey": #d3d3d3,
  "Lightgreen": #90ee90,
  "Lightpink": #ffb6c1,
  "Lightsalmon": #ffa07a,
  "Lightseagreen": #20b2aa,
  "Lightskyblue": #87cefa,
  "Lightslategray": #778899,
  "Lightsteelblue": #b0c4de,
  "Lightyellow": #ffffe0,
  "Lime": #00ff00,
  "Limegreen": #32cd32,
  "Linen": #faf0e6,
  "Magenta": #ff00ff,
  "Maroon": #800000,
  "Mediumaquamarine": #66cdaa,
  "Mediumblue": #0000cd,
  "Mediumorchid": #ba55d3,
  "Mediumpurple": #9370d8,
  "Mediumseagreen": #3cb371,
  "Mediumslateblue": #7b68ee,
  "Mediumspringgreen": #00fa9a,
  "Mediumturquoise": #48d1cc,
  "Mediumvioletred": #c71585,
  "Midnightblue": #191970,
  "Mintcream": #f5fffa,
  "Mistyrose": #ffe4e1,
  "Moccasin": #ffe4b5,
  "Navajowhite": #ffdead,
  "Navy": #000080,
  "Oldlace": #fdf5e6,
  "Olive": #808000,
  "Olivedrab": #6b8e23,
  "Orange": #ffa500,
  "Orangered": #ff4500,
  "Orchid": #da70d6,
  "Palegoldenrod": #eee8aa,
  "Palegreen": #98fb98,
  "Paleturquoise": #afeeee,
  "Palevioletred": #d87093,
  "Papayawhip": #ffefd5,
  "Peachpuff": #ffdab9,
  "Peru": #cd853f,
  "Pink": #ffc0cb,
  "Plum": #dda0dd,
  "Powderblue": #b0e0e6,
  "Purple": #800080,
  "Rebeccapurple": #663399,
  "Red": #ff0000,
  "Rosybrown": #bc8f8f,
  "Royalblue": #4169e1,
  "Saddlebrown": #8b4513,
  "Salmon": #fa8072,
  "Sandybrown": #f4a460,
  "Seagreen": #2e8b57,
  "Seashell": #fff5ee,
  "Sienna": #a0522d,
  "Silver": #c0c0c0,
  "Skyblue": #87ceeb,
  "Slateblue": #6a5acd,
  "Slategray": #708090,
  "Snow": #fffafa,
  "Springgreen": #00ff7f,
  "Steelblue": #4682b4,
  "Tan": #d2b48c,
  "Teal": #008080,
  "Thistle": #d8bfd8,
  "Tomato": #ff6347,
  "Turquoise": #40e0d0,
  "Violet": #ee82ee,
  "Wheat": #f5deb3,
  "White": #ffffff,
  "Whitesmoke": #f5f5f5,
  "Yellow": #ffff00,
  "Yellowgreen": #9acd32
);

$guyn-Aliceblue: #f0f8ff;
$guyn-aliceblue: #f0f8ff;

$guyn-Antiquewhite: #faebd7;
$guyn-antiquewhite: #faebd7;

$guyn-Aqua: #00ffff;
$guyn-aqua: #00ffff;

$guyn-Aquamarine: #7fffd4;
$guyn-aquamarine: #7fffd4;

$guyn-Azure: #f0ffff;
$guyn-azure: #f0ffff;

$guyn-Beige: #f5f5dc;
$guyn-beige: #f5f5dc;

$guyn-Bisque: #ffe4c4;
$guyn-bisque: #ffe4c4;

$guyn-Black: #000000;
$guyn-black: #000000;

$guyn-Blanchedalmond: #ffebcd;
$guyn-blanchedalmond: #ffebcd;

$guyn-Blue: #0000ff;
$guyn-blue: #0000ff;

$guyn-Blueviolet: #8a2be2;
$guyn-blueviolet: #8a2be2;

$guyn-Brown: #a52a2a;
$guyn-brown: #a52a2a;

$guyn-Burlywood: #deb887;
$guyn-burlywood: #deb887;

$guyn-Cadetblue: #5f9ea0;
$guyn-cadetblue: #5f9ea0;

$guyn-Chartreuse: #7fff00;
$guyn-chartreuse: #7fff00;

$guyn-Chocolate: #d2691e;
$guyn-chocolate: #d2691e;

$guyn-Coral: #ff7f50;
$guyn-coral: #ff7f50;

$guyn-Cornflowerblue: #6495ed;
$guyn-cornflowerblue: #6495ed;

$guyn-Cornsilk: #fff8dc;
$guyn-cornsilk: #fff8dc;

$guyn-Crimson: #dc143c;
$guyn-crimson: #dc143c;

$guyn-Cyan: #00ffff;
$guyn-cyan: #00ffff;

$guyn-Darkblue: #00008b;
$guyn-darkblue: #00008b;

$guyn-Darkcyan: #008b8b;
$guyn-darkcyan: #008b8b;

$guyn-Darkgoldenrod: #b8860b;
$guyn-darkgoldenrod: #b8860b;

$guyn-Darkgray: #a9a9a9;
$guyn-darkgray: #a9a9a9;

$guyn-Darkgreen: #006400;
$guyn-darkgreen: #006400;

$guyn-Darkkhaki: #bdb76b;
$guyn-darkkhaki: #bdb76b;

$guyn-Darkmagenta: #8b008b;
$guyn-darkmagenta: #8b008b;

$guyn-Darkolivegreen: #556b2f;
$guyn-darkolivegreen: #556b2f;

$guyn-Darkorange: #ff8c00;
$guyn-darkorange: #ff8c00;

$guyn-Darkorchid: #9932cc;
$guyn-darkorchid: #9932cc;

$guyn-Darkred: #8b0000;
$guyn-darkred: #8b0000;

$guyn-Darksalmon: #e9967a;
$guyn-darksalmon: #e9967a;

$guyn-Darkseagreen: #8fbc8f;
$guyn-darkseagreen: #8fbc8f;

$guyn-Darkslateblue: #483d8b;
$guyn-darkslateblue: #483d8b;

$guyn-Darkslategray: #2f4f4f;
$guyn-darkslategray: #2f4f4f;

$guyn-Darkturquoise: #00ced1;
$guyn-darkturquoise: #00ced1;

$guyn-Darkviolet: #9400d3;
$guyn-darkviolet: #9400d3;

$guyn-Deeppink: #ff1493;
$guyn-deeppink: #ff1493;

$guyn-Deepskyblue: #00bfff;
$guyn-deepskyblue: #00bfff;

$guyn-Dimgray: #696969;
$guyn-dimgray: #696969;

$guyn-Dodgerblue: #1e90ff;
$guyn-dodgerblue: #1e90ff;

$guyn-Firebrick: #b22222;
$guyn-firebrick: #b22222;

$guyn-Floralwhite: #fffaf0;
$guyn-floralwhite: #fffaf0;

$guyn-Forestgreen: #228b22;
$guyn-forestgreen: #228b22;

$guyn-Fuchsia: #ff00ff;
$guyn-fuchsia: #ff00ff;

$guyn-Gainsboro: #dcdcdc;
$guyn-gainsboro: #dcdcdc;

$guyn-Ghostwhite: #f8f8ff;
$guyn-ghostwhite: #f8f8ff;

$guyn-Gold: #ffd700;
$guyn-gold: #ffd700;

$guyn-Goldenrod: #daa520;
$guyn-goldenrod: #daa520;

$guyn-Gray: #808080;
$guyn-gray: #808080;

$guyn-Green: #008000;
$guyn-green: #008000;

$guyn-Greenyellow: #adff2f;
$guyn-greenyellow: #adff2f;

$guyn-Honeydew: #f0fff0;
$guyn-honeydew: #f0fff0;

$guyn-Hotpink: #ff69b4;
$guyn-hotpink: #ff69b4;

$guyn-Indianred: #cd5c5c;
$guyn-indianred: #cd5c5c;

$guyn-Indigo: #4b0082;
$guyn-indigo: #4b0082;

$guyn-Ivory: #fffff0;
$guyn-ivory: #fffff0;

$guyn-Khaki: #f0e68c;
$guyn-khaki: #f0e68c;

$guyn-Lavender: #e6e6fa;
$guyn-lavender: #e6e6fa;

$guyn-Lavenderblush: #fff0f5;
$guyn-lavenderblush: #fff0f5;

$guyn-Lawngreen: #7cfc00;
$guyn-lawngreen: #7cfc00;

$guyn-Lemonchiffon: #fffacd;
$guyn-lemonchiffon: #fffacd;

$guyn-Lightblue: #add8e6;
$guyn-lightblue: #add8e6;

$guyn-Lightcoral: #f08080;
$guyn-lightcoral: #f08080;

$guyn-Lightcyan: #e0ffff;
$guyn-lightcyan: #e0ffff;

$guyn-Lightgoldenrodyellow: #fafad2;
$guyn-lightgoldenrodyellow: #fafad2;

$guyn-Lightgrey: #d3d3d3;
$guyn-lightgrey: #d3d3d3;

$guyn-Lightgreen: #90ee90;
$guyn-lightgreen: #90ee90;

$guyn-Lightpink: #ffb6c1;
$guyn-lightpink: #ffb6c1;

$guyn-Lightsalmon: #ffa07a;
$guyn-lightsalmon: #ffa07a;

$guyn-Lightseagreen: #20b2aa;
$guyn-lightseagreen: #20b2aa;

$guyn-Lightskyblue: #87cefa;
$guyn-lightskyblue: #87cefa;

$guyn-Lightslategray: #778899;
$guyn-lightslategray: #778899;

$guyn-Lightsteelblue: #b0c4de;
$guyn-lightsteelblue: #b0c4de;

$guyn-Lightyellow: #ffffe0;
$guyn-lightyellow: #ffffe0;

$guyn-Lime: #00ff00;
$guyn-lime: #00ff00;

$guyn-Limegreen: #32cd32;
$guyn-limegreen: #32cd32;

$guyn-Linen: #faf0e6;
$guyn-linen: #faf0e6;

$guyn-Magenta: #ff00ff;
$guyn-magenta: #ff00ff;

$guyn-Maroon: #800000;
$guyn-maroon: #800000;

$guyn-Mediumaquamarine: #66cdaa;
$guyn-mediumaquamarine: #66cdaa;

$guyn-Mediumblue: #0000cd;
$guyn-mediumblue: #0000cd;

$guyn-Mediumorchid: #ba55d3;
$guyn-mediumorchid: #ba55d3;

$guyn-Mediumpurple: #9370d8;
$guyn-mediumpurple: #9370d8;

$guyn-Mediumseagreen: #3cb371;
$guyn-mediumseagreen: #3cb371;

$guyn-Mediumslateblue: #7b68ee;
$guyn-mediumslateblue: #7b68ee;

$guyn-Mediumspringgreen: #00fa9a;
$guyn-mediumspringgreen: #00fa9a;

$guyn-Mediumturquoise: #48d1cc;
$guyn-mediumturquoise: #48d1cc;

$guyn-Mediumvioletred: #c71585;
$guyn-mediumvioletred: #c71585;

$guyn-Midnightblue: #191970;
$guyn-midnightblue: #191970;

$guyn-Mintcream: #f5fffa;
$guyn-mintcream: #f5fffa;

$guyn-Mistyrose: #ffe4e1;
$guyn-mistyrose: #ffe4e1;

$guyn-Moccasin: #ffe4b5;
$guyn-moccasin: #ffe4b5;

$guyn-Navajowhite: #ffdead;
$guyn-navajowhite: #ffdead;

$guyn-Navy: #000080;
$guyn-navy: #000080;

$guyn-Oldlace: #fdf5e6;
$guyn-oldlace: #fdf5e6;

$guyn-Olive: #808000;
$guyn-olive: #808000;

$guyn-Olivedrab: #6b8e23;
$guyn-olivedrab: #6b8e23;

$guyn-Orange: #ffa500;
$guyn-orange: #ffa500;

$guyn-Orangered: #ff4500;
$guyn-orangered: #ff4500;

$guyn-Orchid: #da70d6;
$guyn-orchid: #da70d6;

$guyn-Palegoldenrod: #eee8aa;
$guyn-palegoldenrod: #eee8aa;

$guyn-Palegreen: #98fb98;
$guyn-palegreen: #98fb98;

$guyn-Paleturquoise: #afeeee;
$guyn-paleturquoise: #afeeee;

$guyn-Palevioletred: #d87093;
$guyn-palevioletred: #d87093;

$guyn-Papayawhip: #ffefd5;
$guyn-papayawhip: #ffefd5;

$guyn-Peachpuff: #ffdab9;
$guyn-peachpuff: #ffdab9;

$guyn-Peru: #cd853f;
$guyn-peru: #cd853f;

$guyn-Pink: #ffc0cb;
$guyn-pink: #ffc0cb;

$guyn-Plum: #dda0dd;
$guyn-plum: #dda0dd;

$guyn-Powderblue: #b0e0e6;
$guyn-powderblue: #b0e0e6;

$guyn-Purple: #800080;
$guyn-purple: #800080;

$guyn-Rebeccapurple: #663399;
$guyn-rebeccapurple: #663399;

$guyn-Red: #ff0000;
$guyn-red: #ff0000;

$guyn-Rosybrown: #bc8f8f;
$guyn-rosybrown: #bc8f8f;

$guyn-Royalblue: #4169e1;
$guyn-royalblue: #4169e1;

$guyn-Saddlebrown: #8b4513;
$guyn-saddlebrown: #8b4513;

$guyn-Salmon: #fa8072;
$guyn-salmon: #fa8072;

$guyn-Sandybrown: #f4a460;
$guyn-sandybrown: #f4a460;

$guyn-Seagreen: #2e8b57;
$guyn-seagreen: #2e8b57;

$guyn-Seashell: #fff5ee;
$guyn-seashell: #fff5ee;

$guyn-Sienna: #a0522d;
$guyn-sienna: #a0522d;

$guyn-Silver: #c0c0c0;
$guyn-silver: #c0c0c0;

$guyn-Skyblue: #87ceeb;
$guyn-skyblue: #87ceeb;

$guyn-Slateblue: #6a5acd;
$guyn-slateblue: #6a5acd;

$guyn-Slategray: #708090;
$guyn-slategray: #708090;

$guyn-Snow: #fffafa;
$guyn-snow: #fffafa;

$guyn-Springgreen: #00ff7f;
$guyn-springgreen: #00ff7f;

$guyn-Steelblue: #4682b4;
$guyn-steelblue: #4682b4;

$guyn-Tan: #d2b48c;
$guyn-tan: #d2b48c;

$guyn-Teal: #008080;
$guyn-teal: #008080;

$guyn-Thistle: #d8bfd8;
$guyn-thistle: #d8bfd8;

$guyn-Tomato: #ff6347;
$guyn-tomato: #ff6347;

$guyn-Turquoise: #40e0d0;
$guyn-turquoise: #40e0d0;

$guyn-Violet: #ee82ee;
$guyn-violet: #ee82ee;

$guyn-Wheat: #f5deb3;
$guyn-wheat: #f5deb3;

$guyn-White: #ffffff;
$guyn-white: #ffffff;

$guyn-Whitesmoke: #f5f5f5;
$guyn-whitesmoke: #f5f5f5;

$guyn-Yellow: #ffff00;
$guyn-yellow: #ffff00;

$guyn-Yellowgreen: #9acd32;
$guyn-yellowgreen: #9acd32;
