$guyn-colors: (
  "Red": #f44336,
  "Pink": #e91e63,
  "Purple": #9c27b0,
  "DeepPurple": #673ab7,
  "Indigo": #3f51b5,
  "Blue": #2196f3,
  "LightBlue": #03a9f4,
  "Cyan": #00bcd4,
  "Teal": #009688,
  "Green": #4caf50,
  "LightGreen": #8bc34a,
  "Lime": #cddc39,
  "Yellow": #ffeb3b,
  "Amber": #ffc107,
  "Orange": #ff9800,
  "DeepOrange": #ff5722,
  "Brown": #795548,
  "Grey": #9e9e9e,
  "BlueGrey": #607d8b
);

$guyn-Red: #f44336;
$guyn-red: #f44336;

$guyn-Pink: #e91e63;
$guyn-pink: #e91e63;

$guyn-Purple: #9c27b0;
$guyn-purple: #9c27b0;

$guyn-DeepPurple: #673ab7;
$guyn-deep-purple: #673ab7;

$guyn-Indigo: #3f51b5;
$guyn-indigo: #3f51b5;

$guyn-Blue: #2196f3;
$guyn-blue: #2196f3;

$guyn-LightBlue: #03a9f4;
$guyn-light-blue: #03a9f4;

$guyn-Cyan: #00bcd4;
$guyn-cyan: #00bcd4;

$guyn-Teal: #009688;
$guyn-teal: #009688;

$guyn-Green: #4caf50;
$guyn-green: #4caf50;

$guyn-LightGreen: #8bc34a;
$guyn-light-green: #8bc34a;

$guyn-Lime: #cddc39;
$guyn-lime: #cddc39;

$guyn-Yellow: #ffeb3b;
$guyn-yellow: #ffeb3b;

$guyn-Amber: #ffc107;
$guyn-amber: #ffc107;

$guyn-Orange: #ff9800;
$guyn-orange: #ff9800;

$guyn-DeepOrange: #ff5722;
$guyn-deep-orange: #ff5722;

$guyn-Brown: #795548;
$guyn-brown: #795548;

$guyn-Grey: #9e9e9e;
$guyn-grey: #9e9e9e;

$guyn-BlueGrey: #607d8b;
$guyn-blue-grey: #607d8b;
